@font-face {
    font-family: futura-light;
    src: url('../fonts/FuturaLight.ttf');
}

.text-theme{
    color: #b53348;
}
.navbar-nav i{
    font-size: 22px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}
body.front .affix-top{
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
body.front .affix-top .container-fluid{
    margin-top: 60px;
    background-color: rgba(10,10,88,.5);
}
body.front .affix-top .bg-text-theme{
    margin-top: 60px;
    background-color: rgba(118,138,250,.1);
    border-top: 1px solid rgba(148,148,250,1);
    border-bottom: 1px solid rgba(148,148,250,1);
}
.navbar-brand img{
    margin-top: -100px;
    opacity: 1;
}
.text-white{
    color: #FFFFFF;
}
.text-black{
    color: #000000;
}
.navbar-default .navbar-nav > li > a.text-black{
    color: #000000;
}
.navbar-default .navbar-nav > li > a.active{
    color: #b42a47;
}
.ma-top-10{
    margin-top: 20px;
}
.header-info-contacto{
    font-size: 16px;
}
#intro .valign hr{
    border: 2px solid white;
}
.intro-container{
    width: 50%;
    margin: 0px auto;
    padding: 15px;
}
#intro p{
    font-size: 20px;
}
#intro .black-hover{
    background-color: rgba(0,0,0,0.6);
}

/*
    SECCIÓN PRESENTACIÓN
*/

.spb-custom-phoenix-section-header h2{
    letter-spacing: 1px;
    font-size: 45px;
}
.spb-custom-phoenix-paragraph hr{
    border: 1px solid #b42a47;
    width: 200px;
}
#text-separator{
    background-color: #FFFFFF;
    margin-top: -170px;
}
.ours-history > div{
    height: auto;
}
.ours-history img{
    width: auto;
    height: 100%;
}
.history-text h2, .history-text p{
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000 !important;
}
.history-text p{
    text-align: justify;
}
.affix .navbar-nav > li > a.text-black{
    color: white;
}
.parallax-window{
    height: 500px;
    background-color: transparent;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.parallax-window h2{
    font-size: 38px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0px auto;
    width: 570px;
    letter-spacing: 1px;
    margin-top: 190px;
}
.btn-info-parallax{
    background-color: #b53348;
    padding: 5px;
    font-size: 26px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 200;
    -webkit-box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 13px 0px rgba(50, 50, 50, 0.75);
}
.btn-info-parallax:link, 
.btn-info-parallax:visited,
.btn-info-parallax:hover,
.btn-info-parallax:active {
    color: #FFFFFF;
}
#copyright .bottomLine{
    padding: 10px;
    margin: 0 auto;
    background-color: #b53348;
}
.container  i{
    display: block;
}
.infoContact li{
    list-style: none;
}
.infoContact i, .infoContact span{
    display: inline-block;
}

/*
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- RECUADROS SERVICIOS  -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
*/
#servicios{
    width: 80%;
    margin: 0px auto;
}
.recuadro-servicio{
    margin-bottom: 15px;
}
.recuadro-servicio .hover-bg{
    height: 246px;
    width:  279px;
    overflow: hidden;
    position: relative;
}

.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.66);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4{
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
    letter-spacing: 3px;
}
.hover-bg:hover .hover-text>h4{
    opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.hover-bg .hover-text>i{
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}
.hover-bg:hover .hover-text>i{
    opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.hover-bg:hover .hover-text{
    opacity: 1;
}
.intro-servicios{
    background: rgba(0, 0, 0, 0.66);
}
bt-25{
    margin-bottom: 25px;
}
/*
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- END RECUADROS SERVICIOS  -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
*/


/*
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- SECTION FLOTA  -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
*/
.recuadros-flota h3,.recuadros-flota p{
    background-color: gray;
    color: #000000;
}
.recuadros-flota > div{
    margin-bottom: 10px;
}
.recuadros-flota .hover-bg-flota{
    height: 250px;
    width:  250px;
    overflow: hidden;
    position: relative;
}

.hover-bg-flota .hover-text-flota {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    //background: rgba(0, 0, 0, 0.66);
    //padding: 25% 0;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.hover-bg-flota .hover-text-flota > h4{
    opacity: 0;
    //-webkit-transform: translateY(100%);
    //transform: translateY(100%);
    background-color: #bcbdc0;
    color: #000000;
    font-weight: 400;
    top: 0px;
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
    transition: all 0.3s;
    letter-spacing: 3px;
}
.hover-bg-flota .hover-text-flota > p{
    background-color: #6a72a9;
    color: white;
    font-weight: 400;
    margin-top: 170PX;
    padding: 5px;
    text-align: justify;
    transition: all 0.3s;
}
.hover-bg-flota:hover .hover-text-flota > h4{
    opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hover-bg-flota:hover .hover-text-flota{
    opacity: 1;
}
/*
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- EBD SECTION FLOTA  -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
*/



/*
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- SECTION FLOTA-INDIVIDUAL  -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
*/

.img-flota-ind img{
    text-align: center;
    margin: 0px auto;
}
.img-flota-ind{
    margin-top: 0px;
    padding-top: 0px;
}
.info-flota-ind h1{
    letter-spacing: 1px;
    margin-top: 0px;
    padding-top: 0px;
}
.info-flota-ind hr{
    border: 1px solid #b53348;
    width: 200px
    
}
.info-flota-ind p{
    text-align: justify;
}
.info-flota-ind h3{
    text-align: left;
    text-transform: uppercase;
}
.info-flota-ind ul{
    padding-left: 0px;
    margin-left: 0px; 
}
.info-flota-ind li{
    text-align: left;
    list-style: circle;
}
.slick-prev{
    background-image: url('../img/arrow-prev.jpg');
}
.slick-next{
    left: 100%;
    margin-left: -45px;
    background-image: url('../img/arrow-next.jpg');
}
.slick-arrow{
    position: absolute;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 44px;
    height: 87px;
    z-index: 99;
    top: 50%;
    margin-top: -44px;
    text-indent: -9999px;
    white-space: nowrap;
    content: ' ';
}
/*
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- EBD SECTION FLOTA-INDIVIDUAL  -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
*/